<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>some website</title>
  </head>
  <body>
  <h1>We'll be right back.</h1>
  <p>This site currently being updated.</p>
</html>
